In [ ]:
# import library
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# load dataset
df = pd.read_csv('Copy_of_SuperStore.csv');

# Sesi-7: Variabel dan tipe data, operator matematika, serta string functions and methods

## Objective1: Pisahkan Customer Name menjadi dua komponen yaitu First_Name dan Last_Name

In [ ]:
# Pisahkan Customer Name menjadi dua komponen yaitu First_Name dan Last_Name
name = df['Customer_Name']
df['First_Name'] = name.str.split(' ').str.get(0)
df['Last_Name'] = name.str.split(' ').str[1:].apply(lambda x: ' '.join(x))

# tampilkan 5 baris pertama
print(df.head())

# Sesi-8: Struktur data

## Objective: Diberikan dictionary sebagai berikut
```
konsumen = {
   'nama' : 'Claire',
   'voucher' : [10, 15, 20, 25, 30, 50]
}
```
Tampilkan 3 voucher dengan nilai terrendah dari konsumen bernama Claire

In [ ]:
konsumen = {
    'nama' : 'Claire',
    'voucher' : [10, 15, 20, 25, 30, 50]
}

print(konsumen['voucher'][:3])

# Sesi-9: IF logic, function, dan loop

## Objective: Buatlah kalkulator sederhana yang dapat mengoperasikan dua bilangan dengan operasi dasar x, /, +, -

In [ ]:
def kalkulator(num1,operator,num2):
    if operator == "+":
        result = num1 + num2
    elif operator == "-":
        result = num1 - num2
    elif operator == "*":
        result = num1 * num2
    elif operator == "/":
        if num2 != 0:
            result = num1 / num2
        else:
            print("Error: Tidak bisa dibagi dengan nol!")
            return

    print("Hasil: ", result)

kalkulator(1,'+',2)
kalkulator(3,'-',2)
kalkulator(4,'*',2)
kalkulator(6,'/',2)

# Sesi-10: Pandas dan manipulasi data

## Objective: Tentukan total penjualan untuk setiap kategori barang pada setiap pasangan Region dan Segment

In [ ]:
print(pd.pivot_table(
	data=df,
	index=['Region','Segment'],
	columns='Category',
	values='Sales',
	aggfunc='sum'
))

## Sesi-11: Handling Missing Data

## Objective: Isi missing values pada kolom Sales dengan menggunakan nilai median

In [ ]:
# Isi missing values pada kolom Sales dengan menggunakan nilai median
df.fillna(df.median)

total_na_sales = df['Sales'].isna().sum()

print(total_na_sales)

# Sesi-12: Exploratory Data Analysis (EDA) menggunakan visualisasi data

## Buat clustered bar chart yang menampilkan total sales berdasarkan Region dan Category

In [ ]:
sales = pd.pivot_table(
    data=df,
    index=['Region','Category'],
    values='Sales',
    aggfunc='sum'
).reset_index()

print(sales)

sns.barplot(
    data=sales,
    x='Region',
    y='Sales',
    hue='Category'
)
plt.show()